#titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  font-size: 20px;
  margin: auto;
  font-family: "Exo", sans-serif;
}

.fa-book {
  font-size: 40px;
  color: rgba(139, 0, 139, 0.6);
}

#infoContainer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}

#booksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  font-family: "Exo", sans-serif;
}

#CenterContainer {
  display: flex;
  justify-content: center;
}

#BookInfoContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}

#BookInfo {
  display: flex;
  flex-direction: row;
  width: 80vw;
  font-size: 16px;
  justify-content: space-evenly;
  list-style-type: none;
  height: 40px;
  background-color: rgba(139, 0, 139, 0.6);
  align-items: center;
  border-radius: 2px;
  color: white;
  position: absolute;
  font-family: "Exo", sans-serif;
}

/* To shuffle the headings */

#BookLabel {
  position: absolute;
  left: 8vw;
}

#authorLabel {
  position: absolute;
  left: 27vw;
}

#statusLabel {
  position: absolute;
  left: 46vw;
}

#editLabel {
  position: absolute;
  right: 21.2vw;
}

#removeLabel {
  position: absolute;
  right: 8vw;
}

#AddBookContainer {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgba(139, 0, 139, 0.6);
  border-bottom: 2px solid rgba(139, 0, 139, 0.6);
  font-family: "Exo", sans-serif;
  font-size: 16px;
}

.inputField {
  outline: none;
  font-family: "Exo", sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
}

.inputField:focus {
  transition: 0.3s;
  border-bottom: 2px solid rgba(139, 0, 139, 0.6);
}

.editInputField {
  outline: none;
  font-family: "Exo", sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  word-wrap: break-word;
}

.editInputField:focus {
  transition: 0.3s;
  border-bottom: 2px solid rgba(139, 0, 139, 0.6);
}

#AddBookForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
}

#addBookBtn {
  font-family: "Exo", sans-serif;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

#readOption {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100px;
}

#readOption:hover {
  cursor: pointer;
}

.BooksAdded {
  display: flex;
  align-items: center;
  width: 83vw;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(228, 176, 228, 0.6);
  margin: auto;
}

.BooksAdded p {
  width: 150px;
  word-wrap: break-word;
  font-family: "Exo", sans-serif;
}

.ReadBtn::before {
  background: none;
  color: green;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}

.NotReadBtn::before {
  background: none;
  color: grey;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f068";
}

.DeleteBtn::before {
  background: none;
  color: red;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
}

.DeleteBtn,
.ReadBtn,
.NotReadBtn {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}

.EditBtn,
.saveChangesBtn {
  background-color: white;
  color: rgba(139, 0, 139, 0.6);
  border: 1px solid rgba(139, 0, 139, 0.6);
  outline: none;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Exo", sans-serif;
}

.EditBtn:hover,
.saveChangesBtn:hover {
  background-color: rgba(139, 0, 139, 0.6);
  color: white;
  border: 1px solid rgba(139, 0, 139, 0.6);
  transition: 0.3s;
}
